
body {
    font-family: system-ui;
    background: #1A6F40;
    color: white;
  }

  .header .title {
    font-size: 20px;
  }
  
  .header .buttons {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  
  .header .button {
    cursor: pointer;
    padding: 12px 25px;
    background: rgb(255 255 255 / 20%);
    border-radius: 10px;

    &.big {
      color: black;
      width: 10px;
    }
  }
